$btn-height: 30px;

.btn-wrapper {
	display: inline-block;
	height: $btn-height;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.6);

	.btn-inner {
		line-height: 30px;
		text-align: center;
		color: white;
		padding: 0 20px;
	}
}

.btn-wrapper:hover {
	background-color: rgba(0, 0, 0, 1);
	transition: 1s;
}